Source: otpclient
Section: utils
Priority: optional
Maintainer: Dawid Dziurla <dawidd0811@gmail.com>
Build-Depends:
 debhelper (>= 9),
 cmake,
 pkg-config,
 libcotp-dev (>= 1.2.1),
 libgcrypt20-dev (>= 1.6.0),
 libpng-dev|libpng12-dev (>= 1.2.0),
 libzip-dev (>= 1.0.0),
 libjansson-dev (>= 2.6.0),
 libzbar-dev (>= 0.10),
 libgtk-3-dev (>= 3.18),
Standards-Version: 3.9.7
Homepage: https://github.com/paolostivanin/OTPClient

Package: otpclient
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Simple GTK+ v3 OTP client (TOTP and HOTP)
 Features:
  - support for TOTP and HOTP
  - support 6 and 8 digits
  - support SHA1, SHA256 and SHA2512 algorithms
  - import encrypted Authenticator Plus backup
  - import encrypted andOTP backup
  - encrypt local file using AES256-GCM
  - key is derived using PBKDF2 with SHA512 and 100k iterations
  - decrypted file is never saved (and hopefully never swapped) to disk.
 While the app is running, the decrypted content resides in
 a "secure memory" buffer allocated by Gcrypt
  - auto-refresh TOTP every 30 seconds
  - when a row is ticked, the otp is automatically copied to the clipboard
    (which is erased before terminating the program)
  - another otp value can still be copied by double clicking it
    when the row is ticked
